@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
    font-size: 62.5%;
}

.header {
    text-align: center;
    position: relative;
}

.header .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
}

.header .header-container img {
    height: 400px;
}

.header .header-container .chamada .desconto h1{
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.header .header-container .chamada .desconto p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.header .header-container .chamada .formulario {
    text-align: center;
    margin: auto;
    width: fit-content;
}

.header .header-container .chamada .formulario form{
    display: flex;
    flex-direction: column;
}

.header .header-container .chamada .formulario form .email-input{
    padding: 15px 0 15px 20px;
    margin-right: 15px;
    width: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.header .header-container .chamada .formulario form .cel-input {
    padding: 15px 0 15px 20px;
    margin-right: 15px;
    width: 550px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.header .header-container .chamada .formulario form .email-submit {
    background: #f1ffe7;
    padding: 15px 15px;
    width: 300px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.header .header-container .chamada .formulario form .email-submit:hover {
    background: #000000;
    color: white;
}

.header .header-container .chamada .destaque h2{
    margin-top: 20px;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.header .header-container .chamada .destaque .destaque-azul {
    color: #23718C;
}

.header:after {
    content: url('../images/seta_preta.png');
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0) ; 
    opacity: 0.4;}
    100% { -webkit-transform: translateY(0.4em); 
    opacity: 0.9; }
}

@media (max-width: 1200px) {
    .header .header-container {
        padding-top: 0px;
    }
}

.main .porque {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.main .porque .titulo{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

.main .porque .porques {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    gap: 50px;
}

.main .porque .porques .motivos {
    font-size: 2.5rem;
    width: 300px;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;
    padding: 30px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.main .porque .porques .motivos:hover {
    transform: scale(1.2);
    background: #154352;
}

.main .porque .porques .motivos .numeracao{
    font-size: 3rem;
    text-align: center;
    color: #fff;
}

.footer .infos {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 60px 0 20px;
}

.footer .infos .copy,
.footer .infos .criador,
.footer .infos .criador a {
    color: white;
    font-size: 1.3rem;
}

.gradient {
    height: 100vh;
    background: linear-gradient(45deg, #000000, #154352, #181F2A);
    background-size: 300% 400%;
    animation: colors 15s ease infinite;
  }
  
  @keyframes colors {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  /*Filter styles*/
  .saturate { filter: saturate(3); }
  .grayscale { filter: grayscale(100%); }
  .contrast { filter: contrast(160%); }
  .brightness { filter: brightness(0.25); }
  .blur { filter: blur(3px); }
  .invert { filter: invert(100%); }
  .sepia { filter: sepia(100%); }
  .huerotate { filter: hue-rotate(180deg); }
  .rss.opacity { filter: opacity(50%); }